In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, to_date, to_timestamp, hour, minute, year, month, day
from pyspark.sql.types import StringType, DoubleType, IntegerType, DateType, TimestampType

In [6]:
spark = SparkSession.builder.master("local[*]") \
    .config("spark.executor.instances", "5") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY").getOrCreate()

In [7]:
df = spark.read.option("Header", True).csv("spark-warehouse/landing/supermarket_sales.csv")

In [9]:

df.columns

['Invoice ID',
 'Branch',
 'City',
 'Customer type',
 'Gender',
 'Product line',
 'Unit price',
 'Quantity',
 'Tax 5%',
 'Total',
 'Date',
 'Time',
 'Payment',
 'cogs',
 'gross margin percentage',
 'gross income',
 'Rating']

In [11]:

df.printSchema()

root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

In [12]:
df.show(1)

+-----------+------+------+-------------+------+-----------------+----------+--------+-------+--------+--------+-----+-------+------+-----------------------+------------+------+
| Invoice ID|Branch|  City|Customer type|Gender|     Product line|Unit price|Quantity| Tax 5%|   Total|    Date| Time|Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+------+-------------+------+-----------------+----------+--------+-------+--------+--------+-----+-------+------+-----------------------+------------+------+
|750-67-8428|     A|Yangon|       Member|Female|Health and beauty|     74.69|       7|26.1415|548.9715|1/5/2019|13:08|Ewallet|522.83|            4.761904762|     26.1415|   9.1|
+-----------+------+------+-------------+------+-----------------+----------+--------+-------+--------+--------+-----+-------+------+-----------------------+------------+------+
only showing top 1 row

In [ ]:

column_rename_and_cast = {
    'Invoice ID': ('invoice_id', StringType()),
    'Branch': ('branch', StringType()),
    'City': ('city', StringType()),
    'Customer type': ('customer_type', StringType()),
    'Gender': ('gender', StringType()),
    'Product line': ('product_line', StringType()),
    'Unit price': ('unit_price', DoubleType()),
    'Quantity': ('quantity', IntegerType()),
    'Tax 5%': ('tax_5_percent', DoubleType()),
    'Total': ('total', DoubleType()),
    'Date': ('date', StringType()), # Tratar data direto pode levar a problemas, melhor usar funções auxiliares
    'Time': ('time', StringType()), # Tratar timetamp direto pode levar a problemas, melhor usar funções auxiliares
    'Payment': ('payment', StringType()),
    'cogs': ('cogs', DoubleType()),
    'gross margin percentage': ('gross_margin_percentage', DoubleType()),
    'gross income': ('gross_income', DoubleType()),
    'Rating': ('rating', DoubleType())
}

In [13]:
column_rename_and_cast = {
    'Invoice ID': ('invoice_id', StringType()),
    'Branch': ('branch', StringType()),
    'City': ('city', StringType()),
    'Customer type': ('customer_type', StringType()),
    'Gender': ('gender', StringType()),
    'Product line': ('product_line', StringType()),
    'Unit price': ('unit_price', DoubleType()),
    'Quantity': ('quantity', IntegerType()),
    'Tax 5%': ('tax_5_percent', DoubleType()),
    'Total': ('total', DoubleType()),
    'Date': ('date', StringType()), # Tratar data direto pode levar a problemas, melhor usar funções auxiliares
    'Time': ('time', StringType()), # Tratar timetamp direto pode levar a problemas, melhor usar funções auxiliares
    'Payment': ('payment', StringType()),
    'cogs': ('cogs', DoubleType()),
    'gross margin percentage': ('gross_margin_percentage', DoubleType()),
    'gross income': ('gross_income', DoubleType()),
    'Rating': ('rating', DoubleType())
}

In [14]:

for original_name, (new_name, new_type) in column_rename_and_cast.items():
    df = df.withColumnRenamed(original_name, new_name) \
           .withColumn(new_name, col(new_name).cast(new_type))

In [15]:
df.printSchema()

root
 |-- invoice_id: string (nullable = true)
 |-- branch: string (nullable = true)
 |-- city: string (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- tax_5_percent: double (nullable = true)
 |-- total: double (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross_margin_percentage: double (nullable = true)
 |-- gross_income: double (nullable = true)
 |-- rating: double (nullable = true)

In [16]:

df.explain()

== Physical Plan ==
*(1) Project [Invoice ID#1174 AS invoice_id#1313, Branch#1175 AS branch#1349, City#1176 AS city#1385, Customer type#1177 AS customer_type#1421, Gender#1178 AS gender#1457, Product line#1179 AS product_line#1493, cast(Unit price#1180 as double) AS unit_price#1529, cast(Quantity#1181 as int) AS quantity#1565, cast(Tax 5%#1182 as double) AS tax_5_percent#1601, cast(Total#1183 as double) AS total#1637, Date#1184 AS date#1673, Time#1185 AS time#1709, Payment#1186 AS payment#1745, cast(cogs#1187 as double) AS cogs#1781, cast(gross margin percentage#1188 as double) AS gross_margin_percentage#1817, cast(gross income#1189 as double) AS gross_income#1853, cast(Rating#1190 as double) AS rating#1889]
+- FileScan csv [Invoice ID#1174,Branch#1175,City#1176,Customer type#1177,Gender#1178,Product line#1179,Unit price#1180,Quantity#1181,Tax 5%#1182,Total#1183,Date#1184,Time#1185,Payment#1186,cogs#1187,gross margin percentage#1188,gross income#1189,Rating#1190] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/notebooks/spark-warehouse/landing/supermarket_sales...., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Invoice ID:string,Branch:string,City:string,Customer type:string,Gender:string,Product lin...

In [17]:
df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| invoice_id|branch|     city|customer_type|gender|        product_line|unit_price|quantity|tax_5_percent|   total|     date| time|    payment|  cogs|gross_margin_percentage|gross_income|rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|      26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|         3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|      16.2155|340.5255| 3/3/2019|13:23|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8|       23.288| 489.048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|      30.2085|634.3785| 2/8/2019|10:37|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|      29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6|       20.652| 433.692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|      20.652|   5.8|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|        36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|   8.0|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|        3.626|  76.146|1/10/2019|17:15|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|        8.226| 172.746|2/20/2019|13:27|Credit card|164.52|            4.761904762|       8.226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|        2.896|  60.816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|        5.102| 107.142| 3/9/2019|17:03|       Cash|102.04|            4.761904762|       5.102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|      11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10|       21.595| 453.495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|        35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6|       28.116| 590.436|1/15/2019|16:19|       Cash|562.32|            4.761904762|      28.116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|      24.1255|506.6355|3/11/2019|11:03|Credit card|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6|       21.783| 457.443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|      21.783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3|       8.2005|172.2105|1/21/2019|18:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|         4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [18]:
df = df.withColumn("year", year(to_date(col("date"), 'MM/dd/yyyy'))) \
        .withColumn("month", month(to_date(col("date"), 'MM/dd/yyyy'))) \
        .withColumn("day", day(to_date(col("date"), 'MM/dd/yyyy'))) \
        .withColumn("hour", hour(to_timestamp(col("time"), 'HH:mm'))) \
        .withColumn("minute", minute(to_timestamp(col("time"), 'HH:mm'))) \
        .drop(col("date")) \
        .drop(col("time"))

In [19]:
df.printSchema()

root
 |-- invoice_id: string (nullable = true)
 |-- branch: string (nullable = true)
 |-- city: string (nullable = true)
 |-- customer_type: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- product_line: string (nullable = true)
 |-- unit_price: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- tax_5_percent: double (nullable = true)
 |-- total: double (nullable = true)
 |-- payment: string (nullable = true)
 |-- cogs: double (nullable = true)
 |-- gross_margin_percentage: double (nullable = true)
 |-- gross_income: double (nullable = true)
 |-- rating: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: integer (nullable = true)
 |-- minute: integer (nullable = true)

In [20]:
df.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+-----------+------+-----------------------+------------+------+----+-----+---+----+------+
| invoice_id|branch|     city|customer_type|gender|        product_line|unit_price|quantity|tax_5_percent|   total|    payment|  cogs|gross_margin_percentage|gross_income|rating|year|month|day|hour|minute|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+-----------+------+-----------------------+------------+------+----+-----+---+----+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|      26.1415|548.9715|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|2019|    1|  5|  13|     8|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|         3.82|   80.22|       Cash|  76.4|            4.761904762|        3.82|   9.6|2019|    3|  8|  10|    29|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|      16.2155|340.5255|Credit card|324.31|            4.761904762|     16.2155|   7.4|2019|    3|  3|  13|    23|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8|       23.288| 489.048|    Ewallet|465.76|            4.761904762|      23.288|   8.4|2019|    1| 27|  20|    33|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|      30.2085|634.3785|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|2019|    2|  8|  10|    37|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|      29.8865|627.6165|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|2019|    3| 25|  18|    30|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6|       20.652| 433.692|    Ewallet|413.04|            4.761904762|      20.652|   5.8|2019|    2| 25|  14|    36|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|        36.78|  772.38|    Ewallet| 735.6|            4.761904762|       36.78|   8.0|2019|    2| 24|  11|    38|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|        3.626|  76.146|Credit card| 72.52|            4.761904762|       3.626|   7.2|2019|    1| 10|  17|    15|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|        8.226| 172.746|Credit card|164.52|            4.761904762|       8.226|   5.9|2019|    2| 20|  13|    27|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|        2.896|  60.816|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|2019|    2|  6|  18|     7|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|        5.102| 107.142|       Cash|102.04|            4.761904762|       5.102|   6.8|2019|    3|  9|  17|     3|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|      11.7375|246.4875|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|2019|    2| 12|  10|    25|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10|       21.595| 453.495|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|2019|    2|  7|  16|    48|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|        35.69|  749.49|       Cash| 713.8|            4.761904762|       35.69|   5.7|2019|    3| 29|  19|    21|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6|       28.116| 590.436|       Cash|562.32|            4.761904762|      28.116|   4.5|2019|    1| 15|  16|    19|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|      24.1255|506.6355|Credit card|482.51|            4.761904762|     24.1255|   4.6|2019|    3| 11|  11|     3|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6|       21.783| 457.443|Credit card|435.66|            4.761904762|      21.783|   6.9|2019|    1|  1|  10|    39|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3|       8.2005|172.2105|Credit card|164.01|            4.761904762|      8.2005|   8.6|2019|    1| 21|  18|     0|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|         4.03|   84.63|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|2019|    3| 11|  15|    30|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------------+--------+-----------+------+-----------------------+------------+------+----+-----+---+----+------+
only showing top 20 rows

In [ ]:
df.write.saveAsTable("supermarket_sales_bronze", format="parquet", mode="overwrite", partitionBy=["year", "month", "day", "hour", "minute"], path="bronze/supermarket_sales")